# 10章 アンケート分析を行うための言語処理１０本ノック

ここでは、まちづくりのアンケートを使って分析していきます。  
主に言語処理を取り扱っていきます。
言語処理特有の処理や、データの持たせ方を学びましょう。

### ノック91：データを読み込んで把握しよう

In [1]:
import pandas as pd
survey = pd.read_csv("survey.csv")

In [2]:
print(len(survey))
survey.head()

86

    datetime            comment  satisfaction
0  2019/3/11  駅前に若者が集まっている(AA駅)             1
1  2019/2/25   スポーツできる場所があるのが良い             5
2  2019/2/18          子育て支援が嬉しい             5
3   2019/4/9    保育園に入れる（待機児童なし）             4
4   2019/1/6          駅前商店街が寂しい             2

In [3]:
survey.isna().sum()

datetime        0
comment         2
satisfaction    0
dtype: int64

In [4]:
survey = survey.dropna()
survey.isna().sum()

datetime        0
comment         0
satisfaction    0
dtype: int64

### ノック92：不要な文字を除外してみよう

In [9]:
survey["comment"] = survey["comment"].str.replace("AA", "")
survey["comment"].head()

0     駅前に若者が集まっている(駅)
1    スポーツできる場所があるのが良い
2           子育て支援が嬉しい
3     保育園に入れる（待機児童なし）
4           駅前商店街が寂しい
Name: comment, dtype: object

In [10]:
survey["comment"] = survey["comment"].str.replace("\(.+?\)", "", regex=True)
survey.head()

    datetime           comment  satisfaction
0  2019/3/11      駅前に若者が集まっている             1
1  2019/2/25  スポーツできる場所があるのが良い             5
2  2019/2/18         子育て支援が嬉しい             5
3   2019/4/9   保育園に入れる（待機児童なし）             4
4   2019/1/6         駅前商店街が寂しい             2

In [11]:
survey["comment"] = survey["comment"].str.replace("\（.+?\）", "", regex=True)
survey.head()

    datetime           comment  satisfaction
0  2019/3/11      駅前に若者が集まっている             1
1  2019/2/25  スポーツできる場所があるのが良い             5
2  2019/2/18         子育て支援が嬉しい             5
3   2019/4/9           保育園に入れる             4
4   2019/1/6         駅前商店街が寂しい             2

### ノック93：文字数をカウントしてヒストグラムを表示してみよう

In [15]:
survey["length"] = survey["comment"].str.len()
survey.head()

    datetime           comment  satisfaction  length
0  2019/3/11      駅前に若者が集まっている             1      12
1  2019/2/25  スポーツできる場所があるのが良い             5      16
2  2019/2/18         子育て支援が嬉しい             5       9
3   2019/4/9           保育園に入れる             4       7
4   2019/1/6         駅前商店街が寂しい             2       9

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.hist(survey["length"])

### ノック94：形態素解析で文章を分割してみよう

### ノック95：形態素解析で文章から「動詞・名詞」を抽出してみよう

### ノック96：形態素解析で抽出した頻出する名詞を確認してみよう

### ノック97：関係のない単語を除去しよう

### ノック98：顧客満足度と頻出単語の関係をみてみよう

### ノック99：アンケート毎の特徴を表現してみよう

### ノック100：類似アンケートを探してみよう